<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="../../../assets/images/header-logo.png" alt="Company Logo" class="custom-logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-5" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/dashboard">
                        <div class="icon-wrapper">
                            <img src="../../../assets/images/download (1).png" alt="Dashboard Icon">
                        </div>
                        <span class="ms-1">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/stations">
                        <div class="icon-wrapper">
                            <img src="../../../assets/images/charging-station.7f5f86f4ac9495610ee5.png"
                                alt="Stations Icon">
                        </div>
                        <span class="ms-1">Stations</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/complaints">
                        <div class="icon-wrapper">
                            <img src="../../../assets/images/download (3).png" alt="Complaints Icon">
                        </div>
                        <span class="ms-1">Complaints</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/testing">
                        <div class="icon-wrapper">
                            <img src="../../../assets/images/download (3).png" alt="Testing Icon">
                        </div>
                        <span class="ms-1">Device Testing</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/bookings">
                        <div class="icon-wrapper">
                            <img src="../../../assets/images/download (5).png" alt="Booking Icon">
                        </div>
                        <span class="ms-1">Booking Manage</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/new-station">
                        <div class="icon-wrapper">
                            <img src="../../../assets/images/download (3).png" alt="New Station Icon">
                        </div>
                        <span class="ms-1">New Station Request</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/report">
                        <div class="icon-wrapper">
                            <img src="../../../assets/images/download (5).png" alt="Reports Icon">
                        </div>
                        <span class="ms-1">Reports</span>
                    </a>
                </li>
            </ul>
            <div class="user-section d-flex align-items-center">
                <img src="../../../assets/images/avatar-design.0263654e73080ac2c406.png" alt="User Logo"
                    class="rounded-circle me-2">
                <span class="text-white">demo_user</span>
            </div>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>