<mat-card class="custom-card">
  <div class="row">
    <div class="col-6 text-left">
      <p class="mb-0"><strong>{{ Active }}</strong></p>
      <p class="mb-0"><strong>Active</strong></p>
    </div>
    <div class="col-6 text-right">
      <p class="mb-0"><strong>{{ Inactive }}</strong></p>
      <p class="mb-0"><strong>Inactive</strong></p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6 text-left">
      <div class="icon-wrapper ms-4" [style.background-color]="iconBackgroundColor">
        <img [src]="icon" alt="Icon" class="icon">
      </div>
    </div>
    <div class="col-6 text-right">
      <p class="mb-0"><strong>{{ total }}</strong></p>
      <p class="mb-0"><strong>{{ title }}</strong></p>
    </div>
  </div>
</mat-card>
